.vp-project-home .vp-highlight-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.vp-project-home .vp-feature-wrapper {
  border-bottom: 1px solid var(--border-color);
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "PingFang SC", "Noto Sans SC", "Noto Sans CJK SC", STHeiti, "Microsoft YaHei", SimSun, sans-serif;
  --font-family-heading: -apple-system, BlinkMacSystemFont, Inter, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "PingFang SC", "Noto Sans SC", "Noto Sans CJK SC", STHeiti, "Microsoft YaHei", SimSun, sans-serif;
}