# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

info.db
record.log
.idea
!/.idea/**/Project.xml
sealdice-core
data/save.yaml
configs/
data/
pegtest/
temp/

dist/
go-cqhttp/
lagrange/
frontend/
frontend-overwrite/
backups/
update/
walle-q/
_help_cache
.DS_Store
!static/.nomedia

*.private.pem

.vscode/
!.vscode/settings.json
