@import 'tailwindcss';
@import 'nprogress/nprogress.css';
@import './base.css';

#app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

#app > * {
  width: 100%;
}

#nprogress .bar {
  background: var(--sd-accent);
  height: 3px;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--sd-accent),
    0 0 5px var(--sd-accent);
}
