// :root {
//   --el-color-primary: red;
// }

body {
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}


.tip-danger {
  > .title {
    font-weight: 700;
  }
  padding: 8px 16px;
  background-color: var(--el-color-danger-light-9);
  border-radius: 4px;
  border-left: 3px solid var(--el-color-danger);
  margin: 20px 0;
}

.tip {
  > .title {
    font-weight: 700;
  }
  padding: 8px 16px;
  border-radius: 4px;
  // border: 1px solid #dadada;
  border-left: 3px solid var(--el-color-primary);
  margin: 0px 0;
}


// 弹窗优化
@media screen and (max-width: 750px) {
  .el-message-box {
    width: 80% !important;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .el-switch {
    --el-switch-on-color: var(--el-color-success);
    --el-switch-off-color: var(--el-color-danger);
  }
}
