name: Close Unread issues
on:
  issues:
    types: [opened]

jobs:
  check-then-close:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Check checkbox status
        id: unread-checkbox-check
        uses: actions/github-script@v7
        with:
          script: |
            const text = '我没有仔细查看这些选项，只是在无脑的勾选所有选项，请关闭这个 issue';
            return new RegExp(`- \\[x\\]\\s*${text.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')}`).test(context.payload.issue.body);

      - name: Check blank issue status
        id: blank-issue-check
        uses: actions/github-script@v7
        with:
          script: |
            const text = '我填写了简短且清晰明确的标题，以便开发者在翻阅 issue 列表时能快速确定大致问题。而不是“一个建议”、“卡住了”等';
            return new RegExp(`- \\[x\\]\\s*${text.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')}`).test(context.payload.issue.body);

      - name: Close issue
        if: steps.unread-checkbox-check.outputs.result == 'true' || steps.blank-issue-check.outputs.result == 'false' && !contains( github.event.issue.labels.*.name, 'issue-checker-ignore')
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed',
              state_reason: 'not_planned'
            });

      - name: Remove Label
        if: contains( github.event.issue.labels.*.name, 'issue-checker-ignore')
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.removeLabel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              name: 'issue-checker-ignore'
            });

